#control {
  margin-left: 10px;
}
#edit-form {
  margin-top: 40px;
}
.title {
  font-weight: bold;
}
.navbar {
  background-image: linear-gradient(
    to right,
    rgb(251, 145, 213),
    rgb(104, 237, 255)
  );
  color: white;
}
.navbar-brand {
  font-size: large;
  font-style: italic;
  font-weight: bold;
  margin-left: 20px;
}
