#content-container {
  padding: 3%;
}

.form-row {
  margin-bottom: 10px;
}
#submit {
  margin-left: 15px;
}
#control {
  margin-left: 1310px;
}

.vac-row {
  margin-bottom: 20px;
}
.navbar {
  background-image: linear-gradient(
    to right,
    rgb(251, 145, 213),
    rgb(104, 237, 255)
  );
  color: white;
}
.navbar-brand {
  font-size: large;
  font-style: italic;
  font-weight: bold;
  margin-left: 20px;
}
